.body-container {
    width: 247px;
}

.body-header {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    color: #f5f5f5;
}

.body-para {
    text-align: left;
    padding-top: 5px;
}
