.info-name {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;

    margin: 0;
    padding-top: 21px;

    color: #ffffff;
}

.info-description {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 15px;
    text-align: center;

    padding-top: 5px;
    color: #f3bf99;
}

.info-website {
    text-align: center;
    padding-top: 10px;
}

.info-social-buttons {
    padding-top: 10px;

    display: flex;
    justify-content: center;

    gap: 17px;
}
