.container {
    background-color: #1a1b21;
    width: 317px;
}

.body-sections {
    height: 260px;

    display: flex;
    flex-direction: column;

    gap: 15px;

    justify-content: center;
    align-items: center;

    margin-bottom: 10px;
}
