.footer-container {
    width: 317px;
    height: 64px;

    background: #161619;
    border-radius: 0px 0px 10px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
